.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
data/
notebooks/
src/
__pycache__/
.vscode/
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.scss
.json
.npz
.zip
.rar
5-celebrity-faces-dataset.npz
5-celebrity-faces-embeddings.npz
app/__pycache__/facenet_sim_euclidean.cpython-37.pyc
app/__pycache__/inception_resnet_v1.cpython-37.pyc
app/uploads/167312995_135843808478719_1642904651898289490_n.png
app/static/uploads/167649584_304313997791394_6314483513692422811_n.png
app/static/uploads/167312995_135843808478719_1642904651898289490_n.png
app/__pycache__/facenet_sim_euclidean.cpython-38.pyc
app/__pycache__/inception_resnet_v1.cpython-38.pyc
*.rar
*.zip
